.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.cert {
  height: 500px;
  width: 550px;
  text-align: center;
  border: 10px solid #0072c6;
  line-height: 50px;
  font-size: 14px;
}
